<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h2>add-user.jsp</h2>
<form action="addUser" method="POST" modelAttribute="user">
    Id: <input type="text" name="UserId"/> <br/><br/>
    Name: <input type="text"  name="UserName"/>  <br/><br/>
    Email: <input type="text"  name="UserLogin"/>  <br/><br/>
    Phone Number: <input type="text"  name="Password"/><br/><br/>
    Date Of Birth: <input type="text"  name="Phone"/><br/><br/>
    <button type="submit">Submit</button>
</form>

</body>
</html>