<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <!--js-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/main.js}"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Books </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/user/index}"> Back to All Books </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/user/editMultiUser}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> action </th>
                            <th> userId</th>
                            <th> userName</th>
                            <th> userLogin</th>
                            <th> password</th>
                            <th> phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, stat : *{userList}">
                            <td> action: <input
                                                th:id="checkboxAction"
                                                class="checkboxAction"
                                                th:type="checkbox"
                                                th:name="|userList[${stat.index}].action|"
                                                th:value="${user.getAction()}"
                                                th:checked="${user.getAction()}"

                            /></td>
                          <td>userId:    <input
                                                th:placeholder="userId + ' ' + ${stat.count}"
                                                th:name="|userList[${stat.index}].userId|"
                                                th:value="${user.getUserId()}"
                            /></td>

                            <td>userName: <input th:placeholder="userName + ' ' + ${stat.count}"
                                                 th:name="|userList[${stat.index}].userName|"
                                                 th:value="${user.getUserName()}"
                            /></td>

                            <td>userLogin: <input th:placeholder="userLogin + ' ' + ${stat.count}"
                                                  th:name="|userList[${stat.index}].userLogin|"
                                                  th:value="${user.getUserLogin()}"
                            /></td>

                            <td>password: <input th:placeholder="password + ' ' + ${stat.count}"
                                                 th:name="|userList[${stat.index}].phone|"
                                                 th:value="${user.getPassword()}"
                            /></td>

                            <td>phone: <input th:placeholder="phone + ' ' + ${stat.count}"
                                              th:name="|userList[${stat.index}].phone|"
                                              th:value="${user.getPhone()}"
                            /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
<script>



    $(document).ready(function() {
        $('.checkboxAction').on('change', function (e) {
            if ( $('#checkboxAction').val() == 'false') {
                $('#checkboxAction').val('true')
            }
            else {
                $('#checkboxAction').val('false')
            }
        });

    });

</script>
</html>
