<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>


    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</head>
<body>
<h1>To-do App</h1>

<a th:href="@{/todo/listTodo?limit=2}" class="btn btn-dark">Xem danh sach cong viec limit 2</a>

<!--<a th:href="@{/todo/listTodo}" class="btn btn-primary">Xem danh sach cong viec</a>-->
<a th:href="@{listTodo}" class="btn btn-primary">Xem danh sach cong viec</a>
<br>
<a th:href="@{addTodo}" class="btn btn-success"> + Them danh sach cong viec</a>
<!--<a th:href="@{/todo/addTodo}" class="btn btn-success"> + Them danh sach cong viec</a>-->
</body>
</html>